
*{
    background-color: black;
}
.aaa{
    float: left;
    padding-left: 200px;
    font-size: 80PX;
    color: white;
}


.aaa h1{
    text-align: center;
    font-size: 100px;
}

.aaa img{
    width: 100%;
    height: 700px;
}