<div class="aaa">
    <h1>Como es llegaste al fin</h1>
    <p>
        No tengo nada mas que ofrecer te dejo un pollo triste de despedida
    </p>
    <img src="/assets/843cb98f91c19692e6cc915820732593.jpg" alt="">
</div>