
.Clase{
    width: 100%;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);  
    overflow: auto;
    border-radius: 20px;
    border: solid 2px black;
}

.Clase a{
    float: left;
    text-align: center;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.active{
    background-color: rgb(245, 0, 0);
    color: white;

}