
<div class="Clase">
    <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
    <a [routerLink]="['columna']" routerLinkActive="active">Columna</a>
    <a [routerLink]="['fin']" routerLinkActive="active">Fin</a>
</div>
