.NFL{
  height: auto;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  padding-top: 16px;
  border: 2px solid ;
  margin-top:8%;
  border-radius: 12px;
}


.NFL a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 50px;
}
.active{
  background-color: rgb(245, 0, 0);
  color: white;

}