<div class="NFL">
    <a [routerLink]="['lateral1']"routerLinkActive="active">Lateral1</a>
    <a [routerLink]="['lateral2']"routerLinkActive="active">Lateral2</a>
    <a [routerLink]="['lateral3']"routerLinkActive="active">Lateral3</a>
    <a [routerLink]="['lateral4']"routerLinkActive="active">Lateral4</a>
    <a [routerLink]="['lateral5']"routerLinkActive="active">Lateral5</a>
</div>